@model AspNetCoreMentoring.UI.ViewModels.Product.ProductWriteItemViewModel



<form asp-action="CreateProduct" class="form-horizontal">
    <h2>CreateProduct</h2>
    <hr />
    <partial name="ProductForm"/>
   
</form>