@model AspNetCoreMentoring.UI.ViewModels.Product.ProductWriteItemViewModel



<form asp-action="CreateProduct" class="form-horizontal">
    <h2>Create New Product</h2>
    <div><a asp-area="" asp-controller="Products" asp-action="Index">Back to products</a></div>
    <hr />
    <partial name="ProductForm" />

</form>