@model AspNetCoreMentoring.UI.ViewModels.Product.ProductWriteItemViewModel

<div style="display: none;">@Html.EditorFor(model => model.Suppliers)</div>
<div style="display: none;">@Html.EditorFor(model => model.Categories)</div>



<div class="row">
    <div class="col-md-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductName" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Discontinued" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <div class="custom-control custom-checkbox">
                    <input asp-for="Discontinued" class="custom-control-input" id="customCheck1"/>
                    <label class="custom-control-label" for="customCheck1"></label>
                </div>
               
                <span asp-validation-for="Discontinued" class="text-danger"></span>
            </div>
        </div>
     
        <div class="form-group">
            <label asp-for="QuantityPerUnit" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <input asp-for="QuantityPerUnit" class="form-control" />
                <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ReorderLevel" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ReorderLevel" class="form-control" />
                <span asp-validation-for="ReorderLevel" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="UnitPrice" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="UnitsOnOrder" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <input asp-for="UnitsOnOrder" class="form-control" />
                <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="UnitsInStock" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Categories" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <select class="form-control" asp-for="SelectedCategoryId"
                        asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))">
                    <option>Please select Category</option>
                </select>
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Suppliers" class="col-md-2 control-label"></label>
            <div class="col-md-7">
                <select class="form-control" asp-for="SelectedSupplierId"
                        asp-items="@(new SelectList(Model.Suppliers, "SupplierId", "CompanyName"))">
                    <option>Please select Supplier</option>
                </select>
                <span asp-validation-for="SelectedSupplierId" class="text-danger"></span>
            </div>
        </div>
     
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>

