<div class="col-md-4">
  <p>Welcome to the Mentoring application</p>
  <img src="assets/mentoring-quote.jpg" class="img-fluid" />
</div>
<hr/>
<mat-card class="mentoring-card">
  <mat-card-title> Clark Moustakas </mat-card-title>
  <mat-card-content>
    We can help a person to be himself by our own willingness to steep ourselves
    temporarily in his world, in his private feelings and experiences. By our
    affirmation of the person as he is, we give him support and strength to take
    the next step in his own growth.
  </mat-card-content>
</mat-card>
<mat-card class="mentoring-card">
  <mat-card-title> Steve Maraboli </mat-card-title>
  <mat-card-content>
    My mistakes have been my greatest mentors.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> Sean Paul </mat-card-title>
  <mat-card-content>
    I think kids should have a mentor and a role model, but that they shouldn't
    take one person's opinion to be what we call final assessment or judgment
    about how life is supposed to be.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> Allan Houston </mat-card-title>
  <mat-card-content>
    The more consistent a father can be or a mentor can be in the person's life
    and teach them principles of real solid manhood, character, integrity and
    leadership, the more consistent you can be in the person's life and teach
    them those things at a younger age, and then the better off they'll be.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> Vivek Wadhwa </mat-card-title>
  <mat-card-content>
    What you want in a mentor is someone who truly cares for you and who will
    look after your interests and not just their own. When you do come across
    the right person to mentor you, start by showing them that the time they
    spend with you is worthwhile.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> Samuel Smiles </mat-card-title>
  <mat-card-content>
    Alexander the Great valued learning so highly, that he used to say he was
    more indebted to Aristotle for giving him knowledge than to his father
    Philip for life.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> John C. Maxwell </mat-card-title>
  <mat-card-content>
    Below you will find our collection of inspirational, wise, and humorous old
    mentors quotes, mentors sayings, and mentors proverbs, collected over the
    years from a variety of sources.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> Bob Proctor </mat-card-title>
  <mat-card-content>
    A mentor is someone who sees more talent and ability within you, than you
    see in yourself, and helps bring it out of you.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> John C. Crosby </mat-card-title>
  <mat-card-content>
    Mentoring is a brain to pick, an ear to listen, and a push in the right
    direction.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> John C. Maxwell </mat-card-title>
  <mat-card-content>
    Below you will find our collection of inspirational, wise, and humorous old
    mentors quotes, mentors sayings, and mentors proverbs, collected over the
    years from a variety of sources.
  </mat-card-content>
</mat-card>

<mat-card class="mentoring-card">
  <mat-card-title> John C. Maxwell </mat-card-title>
  <mat-card-content>
    The best way a mentor can prepare another leader is to expose him or her to
    other great people.
  </mat-card-content>
</mat-card>
